@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --border: #00000000;
  }
 
  .dark {
    --background: #000000;
    --foreground: #ffffff;
    --border: #27272a;
  }
}

@layer base {
  * {
    border: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .blinking {
    animation: blink 1s steps(1, end) infinite;
  }

  @keyframes blink {
    0% {
      opacity: 1; /* fully visible */
    }
    50% {
      opacity: 0; /* fully invisible */
    }
    100% {
      opacity: 1;
    }
  }
}