@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --border: #E4e4e7;

    /* macOS widget style (light theme) */
    --widget-bg: rgba(255, 255, 255, 0.7); /* frosted glass white */
    --widget-border: rgba(255, 255, 255, 0.3);
  }

  .dark {
    --background: #000000;
    --foreground: #ffffff;
    --border: #27272a;

    /* macOS widget style (dark theme) */
    --widget-bg: rgba(0, 0, 0, 0.6); /* frosted glass black */
    --widget-border: rgba(255, 255, 255, 0.1);
  }
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: transparent;
    color: var(--foreground);
    font-family: Arial, sans-serif;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .blinking {
    animation: blink 1s steps(1, end) infinite;
  }

  @keyframes blink {
    0% {
      opacity: 1; /* fully visible */
    }
    50% {
      opacity: 0; /* fully invisible */
    }
    100% {
      opacity: 1;
    }
  }
}